<section id="demo-view" class="subpage-body view pane">

    <div id="wrapper">
        <!-- the content -->
        <div id="sub-content-center">
            <div class="ui-layout-center">
                @*need this wrapping div to show propperly load mask if needed in feature*@
                <div style="position: absolute; top: 0px; left: 0px; height: 100%; width:100%; overflow:auto; padding: 5px;">
                    @*actuall container that should be used to place anything inside center pane(panel)*@
                    <div id="center-inner" style="width:100%; height:100%;">
                    </div>
                </div>
            </div>
            <div id="west-pane-div" class="ui-layout-west">
                @*need this wrapping div to show propperly load mask if needed in feature*@
                <div style="position: absolute; top: 0px; left: 0px; height: 100%; width:100%; overflow:auto; padding: 5px;">
                    @*actuall container that should be used to place anything inside center pane(panel)*@
                    <div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <input type="text" class="form-control">
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div>
                    <div id="west-inner">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <link type="text/css" rel="stylesheet" href="//openlayers.org/en/v3.0.0/css/ol.css" />
    <script type="text/javascript" src="//openlayers.org/en/v3.0.0/build/ol.js"></script>

</section>

