@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tasks</h1>
    <p  class="lead">Create simple MVC app</p>
    <p class="lead">Create OpenLayers3 application</p>
    <ul>
        <li>Access GeoServer’s public URL at: on http://gis-demo.seaplanner.com:8080/web/ </li>
        <li>Read services WMS/WFS capabilities </li>
        <li>Use raster (WMS)/vector (WFS) layers</li>
        <li>Use layer switcher</li>
        <li>Create an SLD file to style the rendered vector data. - This could be only done if provided security credentials have rights to create style and style layers </li>
        <li>Show popup on GetFeatureInfo </li>
    </ul>
</div>

