<div id="main">
    <section class="main">
        @{Html.RenderPartial("~/Views/Home/Welcome.cshtml");}
        @{Html.RenderPartial("~/Views/Home/Demo.cshtml");}
        @{Html.RenderPartial("~/Views/Home/Contact.cshtml");}
    </section>
</div>