<div id="main">
    <section class="main">
        @{Html.RenderPartial("~/Views/Home/Welcome.cshtml");}
        @{Html.RenderPartial("~/Views/Home/Demo.cshtml");}
        @{Html.RenderPartial("~/Views/Home/About.cshtml");}
        @{Html.RenderPartial("~/Views/Home/What.cshtml");}
    </section>
    <!-- section contains jQuery required DIVs for message boxes etc.-->
    <section>
        <div id="dialog-confirm"></div>
        <div id="dialog-info"></div>
    </section>
</div>