
<section id="what-view" class="subpage-body view initially-hidden-pane">
    <div class="jumbotron shadow-light">
        <h3>What else could be done</h3>
        <ul>
            <li>
                <p>Implement JavaScript Unit test suite</p>
            </li>
            <li>
                <p>Redesign layers model</p>
                <ul>
                    <li>Map all WMS/WFS layers properties - only minimum mapping has been done. </li>
                    <li>Mapping application are better using tree like layers switcher. There is (part of the project) ol3-layerswitcher - this would have too be improved to listen to map layer add/remove, external layers visibility change events.</li>
                </ul>
            </li>
            <li>
                <p>Make modules smarter</p>
                <ul>
                    <li>Current application has been designed assuming we talk to GeoServer. </li>
                    <li>Current application has hardcoded map projecton. </li>
                    <li>Current application does not allow for saving restoring configuration by user preferences. </li>
                </ul>
            </li>
            <li>
                <p>Consider using other MVC, MVVM libraries</p>
                <ul>
                    <li>Sencha ExtJs - commercial/GPL JavaScript library for building enterprice level web application. </li>
                    <li>Dojo - opensource free JavaScript library for building enterprice level web application. </li>
                    <li>Concider Durpal, Angular, or other MVC, MVVM libraries</li>
                </ul>
            </li>
        </ul>
    </div>
</section>
